body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;

}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}
#description{
    font-weight: normal;
   }
span{
    text-decoration: underline;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
}
hr{
    border: dotted  grey;
    border-bottom: none;
    width: 5%;
    margin: 5rem auto;
}
#profile-greet{
    margin:1rem auto;
}
.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #CDF0EA;
    margin-bottom: 50px;
}

.bottom-container{
   background-color:#11999E;
   color: white;
   padding: 1rem;
}
.top-cloud{
    position: absolute;
    top: 40px;
    right: 250px;
}
.bottom-cloud{
    position: absolute;
    bottom:300px;
    left: 250px;
    padding-bottom: 20px;
}
#my-pic{
    height: 200px;
    width: 200px;
    border-radius: 6rem;
}
.skill-row{
    max-width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width: 25%;
    float: right;
    margin-left: 30px;

}
.html-img{
    width: 25%;
    float: left;
    margin-right: 30px;

}
.contact-me{
    margin-bottom: 3rem;;
}
.btn{
    text-decoration: none;
    background-color:#11999E;
    color: white;
    border-radius: 1rem;
    padding:0.5rem;
    font-size: 20px;
}
.footer-link{
    text-decoration: none;
    margin: 0 2rem;
    color: white;
}
